# CMake build files.
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Sublime text project files.
*.sublime-project
*.sublime-workspace

# OSX files
.DS_Store

out

# vim temporary files
*~

# Qt project
caroline.config
caroline.creator
caroline.files
caroline.includes
caroline.creator.user
