[submodule "third_party/gtest"]
	path = third_party/gtest
	url = http://192.168.2.2/projects/CAROLINE/repos/thirdparty-gtest.git
[submodule "build/cpplint"]
	path = build/cpplint
	url = http://192.168.2.2/projects/CAROLINE/repos/thirdparty-cpplint.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = http://192.168.2.2/projects/CAROLINE/repos/thirdparty-opencv.git
[submodule "api"]
        path = api
        url = http://192.168.2.2/projects/MOB/repos/carolineproto.git

