[submodule "third_party/gtest"]
	path = third_party/gtest
	url = http://stash.technoworks.ru/scm/CAROLINE/thirdparty-gtest.git
[submodule "build/cpplint"]
	path = build/cpplint
	url = http://stash.technoworks.ru/scm/CAROLINE/thirdparty-cpplint.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = http://stash.technoworks.ru/scm/CAROLINE/thirdparty-opencv.git
[submodule "api"]
	path = api
	url = http://stash.technoworks.ru/scm/mob/carolineproto.git

[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = http://stash.technoworks.ru/scm/CAROLINE/thirdparty-jsoncpp.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = http://stash.technoworks.ru/scm/caroline/thirdparty-protobuf.git
[submodule "third_party/gmock"]
	path = third_party/gmock
	url = http://stash.technoworks.ru/scm/caroline/thirdparty-gmock.git
