[submodule "third_party/gtest"]
	path = third_party/gtest
	url = http://192.168.1.116/scm/caroline/thirdparty-gtest.git
[submodule "build/cpplint"]
	path = build/cpplint
	url = http://192.168.1.116/scm/caroline/thirdparty-cpplint.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = http://192.168.1.116/scm/caroline/thirdparty-opencv.git
